/* main {
  margin: 0 auto;
  max-width: 117rem;
} */

main {
  display: grid;
  grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 117rem) [main-end] minmax(1rem, 1fr) [full-end];
}

main > * {
  grid-column: main;
}

main > .carousel,
main > .jumbotron {
  grid-column: full
}

.container {
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  max-width: 117rem;
}

.aside {
  grid-template-columns: 30rem 1fr;
  gap: 1rem;
}

.aside.aside-right {
  grid-template-columns: 1fr 30rem;
}

.two-col {
  grid-template-columns: repeat(2, 1fr);
}

.three-col {
  grid-template-columns: repeat(3, 1fr);
}

.four-col {
  grid-template-columns: repeat(4, 1fr);
}

.five-col {
  grid-template-columns: repeat(5, 1fr);
}

.six-col {
  grid-template-columns: repeat(6, 1fr);
}

.seven-col {
  grid-template-columns: repeat(7, 1fr);
}

.eight-col {
  grid-template-columns: repeat(8, 1fr);
}

.nine-col {
  grid-template-columns: repeat(9, 1fr);
}

.ten-col {
  grid-template-columns: repeat(10, 1fr);
}

.eleven-col {
  grid-template-columns: repeat(11, 1fr);
}

.twelve-col {
  grid-template-columns: repeat(12, 1fr);
}
