.clubcard-stripe {
  background-color: var(--color-gold);
  border-radius: 1.2rem;
  color: var(--color-table-grey);
  width: 100%;
  margin: 0 0 1rem;
  display: grid;
  grid-template-columns: 5.6rem 1fr;
  min-height: 5.6rem;

  .clubcard-stripe__logo {
    background-color: var(--brand);
    border-radius: 1.2rem 0 0 1.2rem;
    border-right: 0.4rem solid var(--white);
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
  }

  .clubcard-stripe__info {
    padding: 0 25px 0 10px;
    align-items: center;
    text-align: left;
    font-weight: 700;
    display: flex;
    padding: 0 10px;
    line-height: 1.25;
    align-content: center;
    flex-wrap: wrap;
  }
}

