[class^="iconmag-"], [class*=" iconmag-"] {
  font-family: 'tescomobilemag' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconmag-social:before {
  content: "\e911";
}

.iconmag-account:before {
  content: "\e900";
}

.iconmag-antenna:before {
  content: "\e901";
  color: #145492;
}

.iconmag-backward_chevron:before {
  content: "\e902";
  color: #00539f;
}

.iconmag-bill:before {
  content: "\e903";
  color: #03549f;
}

.iconmag-chat:before {
  content: "\e904";
  color: #145492;
}

.iconmag-email:before {
  content: "\e905";
  color: #00539f;
}

.iconmag-facebook:before {
  content: "\e906";
}

.iconmag-instagram:before {
  content: "\e907";
}

.iconmag-mobile:before {
  content: "\e908";
  color: #00539f;
}

.iconmag-question:before {
  content: "\e909";
  color: #00539f;
}

.iconmag-sim:before {
  content: "\e90a";
  color: #00539f;
}

.iconmag-telephone:before {
  content: "\e90b";
  color: #00539f;
}

.iconmag-top-up:before {
  content: "\e90c";
  color: #00539f;
}

.iconmag-twitter:before {
  content: "\e90d";
}

.iconmag-unlocking:before {
  content: "\e90e";
  color: #145492;
}

.iconmag-upgrade:before {
  content: "\e90f";
  color: #145492;
}

.iconmag-youtube:before {
  content: "\e910";
}

.iconmag-spotify-green:before {
  color: #1ed760;
}
