.display-1,
.display-2,
.display-3 {
  font-weight: 400;
}

.display-1 {
  font-size: 7.2rem;
}

.display-2 {
  font-size: 6.4rem;
}

.display-3 {
  font-size: 5.6rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.text {
  font-family: var(--primary-font);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
}

h1,
.h1 {
  font-size: 4.8rem;
}

h2,
.h2 {
  font-size: 4rem;
}

h3,
.h3 {
  font-size: 3.2rem;
  margin: 0;
}

h4,
.h4 {
  font-size: 2.4rem;
}

h5,
.h5 {
  font-size: 2rem;
  text-transform: uppercase;
}

h6,
.h6 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.3;
  margin-bottom: 1.6rem;
}

.font-sm {
  font-size: 1.4rem;
}

.font-md {
  font-size: 1.6rem;
}

.font-lg {
  font-size: 1.8rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 2.2rem;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}
