.legal-footer-wrap {
  background: white;
  color: var(--color-grey);
}

.legal-footer {
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 2rem 0;
  width: 117rem;
}

.legal-footer p {
  margin: 0;
}

.legal-footer > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.legal-footer ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
