.carousel {
  position: relative;
  padding-bottom: 3rem;
}

.carousel ul {
  width: auto;
  height: auto;
  display: flex;
  gap: 4vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 0;
  margin: 0;
  scroll-marker-group: after;
  anchor-name: --my-carousel;

}

.carousel ul::-webkit-scrollbar {
  display: none;
}

.carousel ul::scroll-marker-group {
  position: absolute;
  position-anchor: --my-carousel;
  justify-self: anchor-center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.carousel li {
  list-style-type: none;
  scroll-snap-align: center;
  flex: 0 0 100%;
}

.carousel li::scroll-marker {
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
}

.carousel li::scroll-marker:target-current {
  background-color: black;
}

.carousel ul::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: black;
  opacity: 0.7;
  cursor: pointer;
}

.carousel ul::scroll-button(*):hover,
.carousel ul::scroll-button(*):focus {
  opacity: 1;
}

.carousel ul::scroll-button(*):active {
  translate: 1px 1px;
}

.carousel ul::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}

.carousel ul::scroll-button(*) {
  position: absolute;
  position-anchor: --my-carousel;
}

.carousel ul::scroll-button(left) {
  right: calc(anchor(left) - 70px);
}

.carousel ul::scroll-button(right) {
  left: calc(anchor(right) - 70px);
}

.carousel ul::scroll-button(left) {
  content: "◄";
}

.carousel ul::scroll-button(right) {
  content: "►";
}

.cmp-hero-carousel {
  position: relative;
  z-index: -1;
}

/* Swiper */
.swiper-controls {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 1.5rem;

  .swiper-pagination {
    position: unset;
    display: flex;
  }

  .screen-reader-text {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }

  .button-control,
  .sw-btn-prev,
  .sw-btn-next {
    align-items: center;
    border: none;
    background: var(--color-white);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    color: var(--color-blue);
    cursor: pointer;
    display: flex;
    height: 28px;
    justify-content: center;
    width: 28px;

    svg {
      height: 1.8rem;
      width: 1.8rem;
    }
  }

  .button-control {
    .play .pause-btn,
    .pause .play-btn {
      display: none;
    }

    span {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &:hover {
      background-color: var(--color-white);
    }
  }

  .divider {
    color: var(--color-silver);
  }

  .swiper-pagination-bullet {
    height: 1rem;
    width: 1rem;
    background-color: var(--color-white);
    border: 0.1rem solid var(--color-silver);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
      background-color: var(--color-blue);
    }
}
