.swiper-controls {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 1.5rem;

  .swiper-pagination {
    position: unset;
    display: flex;
  }

  .screen-reader-text {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .button-control,
  .sw-btn-prev,
  .sw-btn-next {
    align-items: center;
    border: none;
    background: var(--color-white);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    color: var(--color-blue);
    cursor: pointer;
    display: flex;
    height: 28px;
    justify-content: center;
    width: 28px;

    svg {
      height: 1.8rem;
      width: 1.8rem;
    }
  }

  .button-control {
    .play .pause-btn,
    .pause .play-btn {
      display: none;
    }

    span {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &:hover {
      background-color: var(--color-white);
    }
  }

  .divider {
    color: var(--color-silver);
  }

  .swiper-pagination-bullet {
    height: 1rem;
    width: 1rem;
    background-color: var(--color-white);
    border: 0.1rem solid var(--color-silver);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-blue);
  }
}
