.product-item {
  background-color: var(--white);
  padding: 1rem;
  /* max-width: 35rem; */
  text-align: center;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px #c7c7c7;
}
.product-item a {
  text-decoration: none;
}

.clubcard-stripe {
  display: flex;
  justify-content: flex-start;
  background-color: #fcd700;
  color: #333;
  border-radius: 12px;
  width: 100%;
  margin: 0 0 10px;
}

.clubcard-stripe__logo {
  display: flex;
  min-height: 56px;
  background-color: #00539f;
  border-radius: 12px 0 0 12px;
  flex: 0 0 56px;
  border-right: 4px solid #fff;
}

.clubcard-stripe__logo span {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  background-color: #00539f;
  color: #fff;
}

.clubcard-stripe__info {
  padding: 0 25px 0 10px;
  align-items: center;
  text-align: left;
  font-weight: 700;
  display: flex;
  padding: 0 10px;
  line-height: 1.25;
  align-content: center;
  flex-wrap: wrap;
}

.product-item-swatches .swatch {
  position: relative;
  margin-top: -5px;
  width: 20px;
  height: 20px;
  border: 1px solid #eaeaea;
  border-radius: 20px;
}

.product-title-holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.promotions {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-flow: column;
  gap: 0.3rem;

  .label {
    padding: 0.6rem 1.5rem;
    font-size: 1.4rem;
    text-wrap: nowrap;

    &.offer {
      background-color: #fcd700;
      color: #333;
    }

    &.new {
      font-weight: 700;
      background-color: #00539f;
      color: #fff;
    }
  }
}

.product-item-dialog {
  display: none;
}

.product-item-brand {
  padding-left: 0;
  color: #575252;
  width: 100%;
  padding-right: 10px;
}

.result-title {
  font-size: 2rem;
  font-weight: 700;
}
.product-title-holder {
  text-align: left;
}

.result-thumbnail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
